/* ===================================
        1. Slider
====================================== */
.swiper-container {
    height: 830px;
    position: relative;
    width: 100%;
}

.swiper-slide {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.swiper-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide .caption-container {
    position: absolute;
    z-index: 3;
    padding: 40px 0;
    width: 60%;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-slide:nth-child(odd) .caption-container {
    position: absolute;
    z-index: 3;
    padding: 40px 0;
    width: 50%;
    left: auto;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-slide .caption-container h1 {
    color: var(--segundo);
    font-size: 4.1vw;
    text-transform: capitalize;
    margin-bottom: 30px;
    line-height: 1.1em;
}

.swiper-slide:nth-child(odd) .caption-container h1 {
    color: #fff;
}

.swiper-slide .caption-container div p {
    color: var(--gris);
    font-family: var(--funo);
    font-size: 2.1vw;
    font-weight: 300;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    line-height: 1.3em;
}

.swiper-slide:nth-child(odd) .caption-container div p {
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.swiper-slide .caption-container .read-more-blue {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 70px;
}

.swiper-slide .caption-container .read-more-blue .blue-decorative-line {
    z-index: 16;
    background-color: rgb(20, 65, 156);
    border-style: none;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    width: 91px;
    height: 2px;
    min-height: 0px;
    min-width: 0px;
    opacity: 1;
}

.swiper-slide:nth-child(odd)
    .caption-container
    .read-more-blue
    .blue-decorative-line {
    z-index: 16;
    background-color: #fff;
    border-style: none;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    width: 91px;
    height: 2px;
    min-height: 0px;
    min-width: 0px;
    opacity: 1;
}

.swiper-slide .caption-container .read-more-blue a {
    z-index: 15;
    background: linear-gradient(
        90deg,
        rgb(20, 65, 156) 0%,
        rgb(45, 105, 196) 100%
    );
    font-family: var(--funo);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border-style: none;
    margin: 0 70px 0 0;
    border-radius: 36px;
    padding: 18px 28px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: nowrap;
    border: none;
    transition: all 0.5s ease-out;
}

.swiper-slide .caption-container .read-more-blue a:hover {
    z-index: 15;
    background: linear-gradient(90deg, rgb(14, 44, 85) 0%, rgb(6, 25, 54) 100%);
    letter-spacing: 3px;
    border-style: none;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in;
}

.swiper-pagination {
    bottom: 30px !important;
    right: 5%;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
    display: flex;
    width: 90%;
    margin: 0 5%;
    justify-content: flex-end;
    align-items: center;
}

.swiper-pagination-bullet {
    background: #fff !important;
    opacity: 0.3 !important;
    border: 1px solid #fff;
    width: 15px !important;
    height: 15px !important;
    margin: 0 10px !important;
}

.swiper-pagination-bullet-active {
    background: var(--segundo) !important;
    opacity: 1 !important;
    width: 24px !important;
    height: 24px !important;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff !important;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 30px !important;
}

.swiper-button-prev {
    left: 5% !important;
    z-index: 11;
}

.swiper-button-next {
    right: 5%;
    z-index: 11;
}

.slider-overlay {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    height: 100%;
    position: absolute;
}

@media only screen and (min-width: 1400px) and (max-width: 3000px) {
    .caption-container h1 {
        font-size: 5.2vw;
    }

    .caption-container div p {
        font-size: 2.7vw;
    }
}

@media only screen and (max-width: 1200px) {
    .swiper-container {
        height: 600px;
    }

    .caption-container h1 {
        font-size: 6vw;
    }

    .caption-container div p {
        font-size: 3.5vw;
    }
}

@media only screen and (max-width: 800px) {
    .caption-container div p {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 600px) {
    .swiper-slide .caption-container {
        width: 70%;
        top: 50%;
        left: 50%;
        right: auto;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .swiper-slide .caption-container h1 {
        font-size: 5.5vw;
    }
    .swiper-slide .caption-container div p {
        font-size: 3.5vw;
    }

    .swiper-slide:nth-child(odd) .caption-container {
        top: 50%;
        width: 70%;
        left: 50%;
        right: auto;
        transform: translate(-50%, -50%);
    }

    .swiper-slide .caption-container .read-more-blue {
        margin-top: 40px;
    }

    .swiper-slide .caption-container .read-more-blue a {
        padding: 8px 20px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 540px) {
    .swiper-container {
        height: 500px;
    }
}

@media only screen and (max-width: 414px) {
    .swiper-container {
        height: 450px;
    }
    .swiper-slide .caption-container h1 {
        font-size: 7vw;
    }
    .swiper-slide .caption-container div p {
        font-size: 4vw;
    }
}

/* ===================================
        2. Services shortcuts
====================================== */
.serv-blocks {
    display: flex;
    flex-direction: column;
}

.serv-blocks .featured-image {
    width: 100%;
    display: flex;
    height: 500px;
    overflow: hidden;
    object-fit: cover;
}

.serv-blocks .featured-image img {
    max-width: 100%;
    height: auto;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.serv-blocks .block-title {
    width: 100%;
    background-color: var(--plata);
    margin-top: 20px;
    text-align: center;
    padding: 20px 0;
}

.serv-blocks .block-title h3 {
    font-size: 30px;
}

/* Green Section in homepage */

.green-bg-empty {
    background-size: cover;
    background-position: center;
}

.locations-swap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-over-green {
    margin: 70px 0;
    padding: 0 40px;
    text-align: center;
}

.MuiTab-textColorPrimary {
    border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.MuiTab-textColorPrimary .MuiTab-wrapper {
    text-transform: capitalize;
    font-weight: 700;
}

.MuiTab-textColorPrimary.Mui-selected {
    opacity: 1;
    color: #fff !important;
    text-transform: capitalize;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(to right, #14429c, #2e6ac4);
    -moz-background: linear-gradient(to right, #14429c, #2e6ac4);
    -o-background: linear-gradient(to right, #14429c, #2e6ac4);
    -webkit-background: linear-gradient(to right, #14429c, #2e6ac4);
    transition: opacity 150ms;
    -moz-transition: opacity 150ms;
    -o-transition: opacity 150ms;
    -webkit-transition: opacity 150ms;
}

.MuiTab-textColorPrimary.Mui-selected .MuiTab-wrapper {
    color: #fff;
    padding: 20px 0;
    font-weight: 800;
    font-family: var(--funo) !important;
}

.tab-intro {
    padding: 40px 50px;
}

.tab-top {
    height: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tab-top a {
    text-align: center;
    background: #fff;
    font-size: 24px;
    display: block;
    width: 90px;
    line-height: 90px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -45px;
    margin-left: -45px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    transition: background 300ms, color 300ms, border-color 300ms;
    -moz-transition: background 300ms, color 300ms, border-color 300ms;
    -o-transition: background 300ms, color 300ms, border-color 300ms;
    -webkit-transition: background 300ms, color 300ms, border-color 300ms;
}

.tab-top a svg {
    color: var(--gris);
}

.bg-overlay {
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(7, 26, 88, 1) 90%);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
}

.tab-thumbnail {
    width: 100%;
    max-width: 350px;
    height: 170px;
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(2, 6, 24, 0.5);
}

.tab-thumbnail img {
    position: relative;
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
}

.title-with-thumbnail {
    margin: 40px 15%;
}

.title-with-thumbnail .sub-titles {
    margin-bottom: 40px;
}

.tab-button {
    margin-top: 40px;
}

.tab-button a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.tab-button a svg {
    font-size: 15px;
    margin-left: 10px;
}

.tab-content {
    margin-top: 50px;
    color: #fff;
}

.MuiTab-root,
.Mui-selected {
    min-width: 25% !important;
}

.list-tabs-bullets {
    margin-left: 40px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 17px;
    font-weight: 400;
    margin-top: 20px;
}

@media only screen and (max-width: 800px) {
    .MuiTab-textColorPrimary .MuiTab-wrapper {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 850px) {
    .bottom-extras {
        flex-direction: column;
    }

    .bottom-extras .block-right {
        width: 100%;
        justify-content: center;
    }
    .bottom-extras p {
        width: 100%;
        text-align: center;
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    .MuiTabs-centered {
        overflow: scroll !important;
        justify-content: left !important;
    }
}
